body{
  background-color: purple;
}
#cabecera{
  width: 0 auto;
  height: 100px;
  background-color: white;

}
#contenedor{
  margin: 0 auto;
  width: 900px;
  height: 500px;
  background-color: grey;
}

.bola{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  background-color: white;
}

p{
  font-size: 50px;
  margin-left: 90px;
  line-height: 120px;
}
