
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive;
}

html{
	min-height: 100%;
}
body {
	padding: 4%;
	background-image: url(img/cielo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width:450px){

	.menu {
		margin: auto;
    width: 500px;
		margin: auto;
	}

	.menu h2 {
		margin-right: 5rem;
		cursor: pointer;
		padding: 10px;
	}
	body{
			background-attachment: fixed;
			background-repeat: no-repeat;

	}

  #contacto{
  position: absolute;
}

  #recetas {
	position: absolute;
  left: 35%;
  top: 20%;
	}
 }

.menu {
	display: flex;
	background-color:#FCF1F4 ;
	height: 53.5px;
	max-width: 1000px;
	margin: auto;
}

.menu h2 {
	margin-right: 5rem;
	cursor: pointer;
	padding: 10px;

}

.menu h2:hover{
	background: pink;
}

.content {
	margin-top: 6rem;
}

[data-content] {
	display: none;
}

.active[data-content] {
	display: block;
}

#gato {
	padding: 10px;
  margin: 1px;
  float: left;
  width: 400px;
}
