body{
  background: lightblue;
}

#boleta{
  background: yellow;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  top: -110px;
  left: 560px;

}

#jardin{
  width: auto;
  height: 400px;
  background: green;
  position: relative;
  top: 150px;
  z-index: 10;
}

@keyframes flor {
  0% {transform: rotate(0deg); }
  100% {transform: rotate(360deg);}
}

#flor{
  background: yellow;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 565px;
  animation: flor 4s infinite linear;

}

#palo{
  position: relative;
  background: #094C13;
  height: 300px;
  width: 10px;
  top:210px;
  left: 580px;
  z-index: -1;

}

.petalo{
  background: #fff;
  position: relative;
  border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
  width: 150;
  height: 150;
  background-color: purple;

}

#uno{
  top:35px;
  left:30px;

}

#dos{
  top: -280;
  left: -130;
}

#tres{
  top: -255;
  left: -120;
  transform: rotate(85deg);
}

#cuatro{
  top:-580px;
  left:30px;
  transform: rotate(85deg);

}
